.botao
{
    background-color: #877EED;
    border-radius: 24px;
    padding: 12px 16px;
    color: white;
    border: none;
    cursor: pointer;   
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;    
}

.botao:hover {
    background-color: #544acb;
}